
.sensor-type {
    padding: 5px;
    text-align: justify;
}

.sensor-list {
    margin-top: 1ch;
    width: 60vw;
    height: 80vh;
    border: 1px solid black;
    overflow: auto;
    padding-left: 1ch;
}

th {
    text-align: left;
}