%svg-icon {
    display: inline-block;
    vertical-align: top;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    fill: currentColor;
  }
  
  %doc-icon {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: image-url('docs-1.png');
    background-size: 10rem 10rem;
  }