// 
// Variables
//

$maxWidth: 80rem;
$headerHeight: 3rem;
$sidebarWidth: 22rem;
$sidebarMediumWidth: 16rem;

$mediumScreen: '(max-width: 800px)';

$documentBackground: #f3f3f3;
$contentBackground: #fff;

$textColor: #333;
$textColorLight: #666;
$textColorLighter: #888;
$textColorRed: #f44336;

$focusBackground: #e5e5e5;
$focusBorder: #d4d4d4;
$focusText: #000;

$selectionBackground: #398df0;
$selectionBorder: #196fc2;
$selectionText: #fff;

$linkColor: #3377c0;
$linkColorHover: #2f6cb6;
$linkTextDecoration: none;

$headerBackground: #eee;
$headerBorder: #d7d7d7;

$sidebarBackground: #f9f9f9;
$sidebarBorder: #e1e1e1;


$inputFocusBorder: #35b5f4;

$textColorLight: #666;

$sidebarZ: 2;